--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
--find-links https://github.com/explosion/wheel-files/releases/download/pandas-wheels/
--only-binary :all:
flask==3.0.0
pandas==2.3.3
gunicorn==22.0.0
apscheduler==3.10.4
scikit-learn==1.5.0
numpy==1.24.3